<article>
  
  <div class="form-group">
    <p>Tooglet Panel com titulo e Body</p>
  </div>
  
  <togglet-panel>
    <div   class="panel-title">
      <p>
        Isaac Israel
      </p>
    </div>
    <div class="panel-body">
      <p>
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
      </p>
    </div>
  </togglet-panel>

  <!--<div class="form-group">
    <p>Tooglet Panel com titulo vazio</p>
  </div>
  
  <togglet-panel>
    <div   class="panel-title"></div>
    <div class="panel-body">
      <p>
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
      </p>
    </div>
  </togglet-panel>

   <div class="form-group">
    <p>Tooglet Panel com body vazio</p>
  </div>
  
  <togglet-panel>
    <div   class="panel-title">
      <p>
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel 
        Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel Isaac Israel
      </p>
    </div>
    <div class="panel-body"></div>
  </togglet-panel>

   <div class="form-group">
    <p>Tooglet Panel vazio</p>
  </div>
  
  <togglet-panel>
    <div   class="panel-title"></div>
    <div class="panel-body"></div>
  </togglet-panel>

  <br>

  <togglet-panel>
    <div   class="panel-title"></div>
  </togglet-panel>
  
  <br>

  <togglet-panel>
    <div class="panel-body"></div>
  </togglet-panel>

  <br>

  <togglet-panel></togglet-panel>-->
  
</article>
