<article>

   <div class="form-group">
    <p>Selection List Array: {{value1 |json}}</p>
  </div>
  <div class="form-group">
    <select-option placeholder="Segmento" [(value)]="value1"  optionField="name"  [options]="selectionListArray"></select-option>
  </div>
  <div class="form-group">
    <p>Selection Option Function: {{value2 |json}}</p>
  </div>
  <div class="form-group">
    <select-option placeholder="Úsuarios"  [(value)]="value2" optionField="name" [options]="selectiontFunction"></select-option>
  </div>
  <div class="form-group">
    <p>Selection Option Disabled: {{value3 |json}}</p>
  </div>
  <div class="form-group">
    <select-option placeholder="Segmento" [(value)]="value3" [disabled]="true" optionField="name"  [options]="selectionListArray" ></select-option>
  </div>

  <hr>

  <div class="form-group">
    <p>Multi Selection List Array: {{value4 |json}}</p>
  </div>
  <div class="form-group">
    <select-option placeholder="Segmento" [multiSelect]="true" [(value)]="value4"  optionField="name"  [options]="selectionListArray"></select-option>
  </div>
  <div class="form-group">
    <p>Multi Selection Option Function: {{value5 |json}}</p>
  </div>
  <div class="form-group">
    <select-option placeholder="Úsuarios"  [multiSelect]="true" [(value)]="value5" optionField="name" [options]="selectiontFunction"></select-option>
  </div>
  <div class="form-group">
    <p>Multi Selection Option Disabled: {{value6 |json}}</p>
  </div>
  <div class="form-group">
    <select-option placeholder="Segmento" [multiSelect]="true" [(value)]="value6" [disabled]="true" optionField="name"  [options]="selectionListArray" ></select-option>
  </div>
  
</article>

