<article>
  
  <div class="form-group">
    <p>Auto Complite Function: {{value1 |json}} , {{keyword1}}</p>
  </div>
  <div class="form-group">
    <auto-complete [(value)]="value1" (keyword)="onKeywordEventHandler($event)"  placeholder="Fornecedor" optionField="name" [options]="autocompleteListFunction" ></auto-complete>
  </div>
  <div class="form-group">
    <p>Auto Complite List: {{value2 |json}}</p>
  </div>
  <div class="form-group">
    <auto-complete [(value)]="value2" placeholder="Local de Coleta" optionField="name" [options]="autocompleteListArray" ></auto-complete>
  </div>
  <div class="form-group">
    <p>Auto Complite Disabled:{{value3 |json}}</p>
  </div>
  <div class="form-group">
    <auto-complete  [(value)]="value3" [disabled]="true"  placeholder="Fornecedor" optionField="name" [options]="autocompleteListFunction"></auto-complete>
  </div>

  <hr>

  <div class="form-group">
    <p>Multi Select Auto Complite Function: {{value4 |json}}</p>
  </div>
  <div class="form-group">
    <auto-complete [(value)]="value4"  [multiSelect]="true" placeholder="Fornecedor" optionField="name" [options]="autocompleteListFunction" ></auto-complete>
  </div>
  <div class="form-group">
    <p> Multi Select Auto Complite List: {{value5 |json}}</p>
  </div>
  <div class="form-group">
    <auto-complete placeholder="Local de Coleta" [(value)]="value5" [multiSelect]="true" optionField="name" [options]="autocompleteListArray" ></auto-complete>
  </div>
  <div class="form-group">
    <p>Multi Select Auto Complite Disabled:{{value6 |json}}</p>
  </div>
  <div class="form-group">
    <auto-complete placeholder="Fornecedor" [(value)]="value6" [disabled]="true" [multiSelect]="true"  optionField="name"  [options]="autocompleteListFunction" ></auto-complete>
  </div>

</article>