<header>
  <!--<nav>
    <menu color="rgba(2,151,110,1)" class="container-nav">
      <div class="menu">
        <div  class="nav-header">
          <img class="brand" [src]="logo" />
          <h3>{{title}}</h3>
        </div>
        <ul class="itens-menu">
          <li *ngFor="let item of menu">
            <a>
              <i class="material-icons item-icon">{{item.icon}}</i>
              <div class="item">{{item.description}}</div>
            </a>
          </li>
        </ul>
      </div>
    </menu>
  </nav>-->
</header>

<div id="interface" class="container-fluid ">
  <!--<supplier-list></supplier-list>-->
  <test></test>
  teste
</div>