/********************************** Panel Heading **********************************/
    .panel > .panel-heading{
        display: table;
    }
    /**************** Title  ****************/
    .panel > .panel-heading > .panel-title-container{
        vertical-align: top;
        width: 100%;
        display: table-cell;
    }
    /**************** Buttons  ****************/
    .panel > .panel-heading > .button-container {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
    .panel > .panel-heading > .button-container > button {
        padding: 0px 1px;
        background-color: transparent;
        border: 1px solid #999999;
        border-radius: 100%;
        color: #999999;
        line-height: 0px;
        outline: none;
    
        position: relative;
        overflow: hidden;
        transition-duration: 0.4s;
    }
    .panel > .panel-heading > .button-container > button.in {
        transform: rotate(180deg);
    }
    .panel > .panel-heading > .button-container > button:hover {
        background-color:#337ab7;
        color: #FFFFFF;
        border: 1px solid transparent;
    }
    .panel > .panel-heading > .button-container > button > i{
        padding-top: 3px; 
        user-select: none;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
    }